@import url('https://fonts.googleapis.com/css?family=Lobster');



body {
  text-align: center;
  background-color:	#d3d4d9;
  font-family: "Abel";
  background-image: url('https://static.pexels.com/photos/114979/pexels-photo-114979.jpeg');
  background-size: 100% 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  position: fixed;
  left: 46.7%;
  top: 40%;
  width: 100px;
  text-align: center;
  border: 3px solid white;
  font-family: 'Lobster', cursive;
  font-style: normal;
  color: #614051;
  background: #FFBCD9;

}

.tab1{
  float: left;
  font-size: 30px;
  border-color: black;
  display: inline-block;
  color: black;
  font-family: "Abel";
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 0.2;
}

.tab1:hover{
  background-color: white;
  color: black;
  opacity: 0.5;
}

.tab2{
  float: left;
  font-size: 30px;
  border-color: black;
  display: inline-block;
  color: black;
  font-family: "Abel";
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 0.2;
}


.tab2:hover{
  background-color: white;
  color: black;
  opacity: 0.5;
}

.tab3{
  float: left;
  font-size: 30px;
  border-color: black;
  display: inline-block;
  color: black;
  font-family: "Abel";
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 0.2;
}

.tab3:hover{
  background-color: white;
  color: black;
  opacity: 0.5;
}
